.font18{
    font-size: 18px;
    color: black;
    font-family: "Noto Sans Lao UI","Noto Sans Lao";
}
.font14{
    font-size: 14px;
    color: black;
    font-family: "Noto Sans Lao UI","Noto Sans Lao";
}
.font12{
    font-size: 12px;
    color: black;
    font-family: "Noto Sans Lao UI","Noto Sans Lao";
}
.legal3{
    margin: 0 auto;
   width: 10%;
   float: left;
       }
.dropdownshow1{
    display: none;
}
.legal3:hover .dropdownshow1{
  
    height: 100%;
    display: block;
    position: absolute;
    background-color: #1a1a1a;
    width: 1400px;
    opacity: 0.8;
   
}
.clearfix{
    clear: both;
}
